* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 390px;
    max-height: 844px;
    min-height: 840px; /* marche pas */
    background-color: #000;
}

.nav {
    background-color: rgb(255, 117, 74);
    height: 50px;
}

.devresource1 div {
    margin-top: 4%;
    background-color: rgb(20, 241, 149);
    height: 170px;
    width: 100%;
}

.devresource1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 2%;
    min-width: 22rem;
}

.devresource1-3 {
    height: 40px;
    width: 80%;
    margin-left: 2%;
    min-width: 22rem;
    background: linear-gradient(180deg,#14f195 -5.71%,transparent);
    clip-path: polygon(0 0,5% 100%,95% 100%,100% 0);
    padding-bottom: 10px;
}

.devresource1-1 {
    border-radius:  12px 0px 0px 0px;
}

.devresource1-2 {
    border-radius:  0px 12px 0px 0px;
}

.devresource1-1 {
    font-size: xx-large;
}
.devresource1-2 {
    font-size: x-large;
}

.bloc-container {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6%;

    }  
    
.bloc {  
    min-height: 400px;
    min-width: 300px;
    border-radius: 6px;
}  

.bloc h1 {  
    margin-top: 10%;
    margin-left: 4%;
    width: 70%;
    font-size: xx-large;
}  

.bloc p {  
    margin-top: 4%;
    margin-left: 4%;
    width: 70%;
    font-size: x-large;
}  

.bloc button {  
    background-color: #000;
    color: white;
    position: -10%;
    margin-left: 3%;
    height: 10%;
    width: 46%;
    border-radius: 40px;
    font-size: larger;
    top: 380px;
    /*top: calc(article.height-button.height);*/
} 

.bloc1 {
    background-color: rgb(255, 117, 74);
}  
.bloc2 {
    background-color: rgb(235, 84, 188);
} 
.bloc3 {
    background-color: rgb(128, 236, 255);
} 
.bloc4 {
    background-color: rgb(20, 241, 149);
} 
.bloc5 {
    background-color: rgb(255, 117, 74);
} 
.bloc6 {
    background-color: rgb(235, 84, 188);
} 

footer {
    background-color: rgb(255, 117, 74);
    height: 50px;
    display: block;
}

@media screen and (max-width: 390px) { 
    body {
        max-width: 390px;
        max-height: 844px;
    }
}

@media screen and (min-width:601px) { 
    body {
        max-width: 1200px;
    }    
}