.linear-gradient {
    background: linear-gradient(#e66465, #9198e5);
  
}
nav 
{
    margin: 20px 250px;
    width: 50%;
    height: 100px;
    background: #11ffee00;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
 
nav .main_pages li 
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: space-around;
    justify-content: flex-start;
    height: 40px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
}
 
nav li:hover 
{
    color: rgb(221, 74, 48)
}

label
{
    display: none;
}

label, #toggle
{
    display: none;
}

@media all and (max-width: 390px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
    }

    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
    }
 
    nav .main_pages li {
        width: 50%;
    }
 
    label 
    {
        width: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #toggle:checked + .main_pages {
        display: flex;
    }
}

h1 .container {
    height: 100px;
    display: flex;
    justify-content: flex-end;
}


footer {
    color: white;
    display: flex;
    justify-content: space-around;
}