@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

/*primary color(couleur wild code school) : rgb(247, 108, 108) */
/*secondary color(le blanc): whitesmoke*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter' sans-serif;
}

:root {
    --main-bg-color: rgb(247, 108, 108);
  }
  /*--main-bg-color: rgb(247, 108, 108);*/

body {
    /*width: 390px;*/
    /*max-width: 390px;*/
    max-height: 844px;
    min-height: 844px; /* marche pas */
    background-color: white;
}

main {
    background-color: #000;
}

.nav {
    background-color: rgb(255, 117, 74);
    /*background-color: var(--primaryColor);*/
    height: 50px;
}

.beginnersBlog div {
    margin-top: 4%;
    background-color: rgb(20, 241, 149);
    height: 200px;
    width: 100%;
}

.beginnersBlog {
    display: flex;
    flex-direction: row;
    width: 93.5%;
    margin-left: 3%;
    min-width: 22rem;
}

.devresource1-3 {
    height: 40px;
    width: 93.5%;
    margin-left: 3%;
    min-width: 22rem;
    background: linear-gradient(180deg,#14f195 -5.71%,transparent);
    clip-path: polygon(0 0,5% 100%,95% 100%,100% 0);
    padding-bottom: 10px;
}

.devresource1-1 {
    border-radius:  12px 0px 0px 0px;
}

.devresource1-1 h1 {
    margin: 6%;
    font-size: xx-large;
}

.devresource1-2 {
    border-radius:  0px 12px 0px 0px;
}

.devresource1-2 p {
    margin: 6%;
    font-size: large;
}

.devresource1-1 {
    font-size: xx-large;
}
.devresource1-2 {
    font-size: x-large;
}

.dev-res-container {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6%;
}  
    
.bloc {  
    min-height: 400px;
    min-width: 300px;
    border-radius: 6px;
}  

.bloc h1 {  
    margin-top: 10%;
    margin-left: 4%;
    width: 70%;
    font-size: xx-large;
}  

.bloc p {  
    margin-top: 4%;
    margin-left: 4%;
    width: 70%;
    font-size: x-large;
}  

.bloc1 {
    background-color: rgb(255, 117, 74);
}  
.bloc2 {
    background-color: rgb(235, 84, 188);
} 
.bloc3 {
    background-color: rgb(128, 236, 255);
} 
.bloc4 {
    background-color: rgb(20, 241, 149);
} 
.bloc5 {
    background-color: rgb(255, 117, 74);
} 
.bloc6 {
    background-color: rgb(235, 84, 188);
} 

.blackButton {  
    background-color: #000;
    color: white;
    position: -10%;
    margin-left: 3%;
    height: 10%;
    width: 46%;
    border-radius: 40px;
    font-size: larger;
} 

.bloc1 .blackButton {
    position: relative;
    top: 60px; 
}

.bloc2 .blackButton {
    position: relative;
    top: 
    18px; 
}
.bloc3 .blackButton {
    position: relative;
    top: 44px; 
}
.bloc4 .blackButton {
    position: relative;
    top: 70px; 
}

.whiteButton {  
    position: -10%;
    margin-left: 3%;
    height: 10%;
    width: 46%;
    border-radius: 40px;
    background:transparent;
    border: solid 1px black;
    font-size: larger;
} 

.toolsContainer {
    background-color: rgb(128, 236, 255);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 360px;
    margin-left: 3%;
    margin-bottom: 3%;
    width: 94%; 
    gap: 10px;
}

.toolBloc {
    background-color: rgb(128, 236, 255);
    height: 270px;
}

.toolBloc br {
    height: 0.5px;
}

.toolBloc1 {
    background-color:black;
}

.toolBloc1 p {
    font-size: smaller;
    color:  white;
    padding-left: 6px;
}

.toolblock2 h1, .toolblock2 p {
    padding-left: 6px;  
}

.toolBloc1, .toolBloc2, .toolBloc3, .toolBloc4,  .toolBloc5, .toolBloc6  {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 94%;
}

.toolBloc2 h1, .toolBloc4 h1 , .toolBloc6 h1 {
    font-size: xx-large;
    margin-bottom: 8%;
}

.pMargin {
    margin-bottom: 12%;
}

.toolBloc3 {
    background-image: url("/pages/devresources/assets/images/chart-1905225_960_720.webp");
}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.toolBloc5 p {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;


    background: 0;
    border: 0;
    transform: translateX(-50%);
    transform: translateY(-250%);
}

#btnVideo{
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;

    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 42%;
    transform: translateX(-50%);
    transform: translateY(-180%);
}


footer {
    background-color: rgb(255, 117, 74);
    height: 50px;
}


@media screen and (max-width: 390px) { 

    body {
        max-width: 390px;
        max-height: 844px;
    }


    .toolBloc5 #background-video, .toolBloc {
        height: 270px;
    }

    
    .toolsContainer {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:391px) and (max-width:800px) { 

    .toolBloc5 #background-video, .toolBloc {
        height: 320px;
    }

    .toolsContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}    

@media screen and (min-width:801px) { 

    .toolBloc5 #background-video, .toolBloc {
        height: 320px;
    }

    .toolsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}    
