@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

:root {
  --primary-color: rgb(247, 108, 108);
  --secondary-color: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: var(--secondary-color);
  padding: 0 20px;
}

::selection {
  background-color: rgb(210, 20, 243);
}

nav {
  background-color: rgb(49, 49, 49);
  padding: 0.5rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

h1 {
  font-weight: '800';
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.search-container {
  display: flex;
  padding: 0.5rem 0px;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  position: relative;
  width: 70vw;
}

.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .5rem;
}

.dropdown-container a:hover {
  background-color: rgb(87, 87, 87);
}

.show {
  display: block;
}

.search-input-bar {
  display: none;
}

#search-button {
  width: 100%;
  height: 2rem;
  border-radius: 2rem;
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: rgba(80, 80, 80, 0.521);
  border-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1rem;
}

#search-button:focus {
  border-color:var(--primary-color);
}

.background-img img {
  opacity: 0.20;
  position: absolute;
}

h1 {
  padding-top: 5rem;
  position: relative;
}

.trending-apps {
  background-image: linear-gradient(75deg, var(--primary-color) 15%, rgb(0, 0, 0) 95%);
  border-radius: .5rem;
  padding: .5rem;
}

.trending-apps h2 {
  padding: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.trending-apps-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(218, 199, 199, 0.171);
}

.trending-apps-list li {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
  padding: .75rem;
  align-items: center;
  justify-content: center;
}

.trending-app-name {
  padding-top: .7rem;
}

.top-apps-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.top-apps-section h2 {
  padding-bottom: 1rem;
}

.top-apps-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: flex-start;
}

.top-apps-list li {
  display: flex;
  padding: .5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-apps-list svg {
  margin: 0;
}

.top-app-name {
  color: rgb(168, 168, 168);
  font-weight: 300;
  padding-top: .5rem;
}

.list-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.list-apps {
  display: flex;
  flex-direction: column;
}

.list-apps li {
  display: flex;
}

.categories-btn button{
  border: none;
  font-size: 1rem;
  color: rgb(168, 168, 168);
  background-color: transparent;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover{
  border-bottom: 1px solid red;
  color: whitesmoke;
}

#show-more-btn {
  font-size: 1rem;
  border-radius: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: rgba(80, 80, 80, 0.521);
  border: 1px solid black;
  color: var(--secondary-color);
  cursor: pointer;
}

#show-more-btn:hover {
  color: black;
  background-color: whitesmoke;
  transform: translate3d(0,-3px,0);
  transition: box-shadow .25s ease,transform .25s ease;
}

/* list of apps on the right side */

.list-apps-container {
  border-radius: .3rem;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 2px;
}

.list-apps {
  background: #222;
  padding: .5rem;
  border-radius: .3rem;
}

.list-apps li {
  display: flex;
  padding: .4rem;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  word-wrap: break-word;
  position: relative;
}

.app-list-desc {
  color: rgb(168, 168, 168);
  font-weight: 300;
  font-size: .80rem;
}

.body-app-list {
  padding-left: 1rem;
  padding-right: 1rem;
}

li:last-child {
  border: none;
}

.app-list-name {
  font-size: 1rem;
  font-weight: 400;
}

svg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.stats-app-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 3rem;
}

.footer-gradient {
  margin-top: 3rem;
  top: -28px;
  left: 0px;
  width: 100%;
  height: 42px;
  z-index: 1;
  background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(249, 249, 251) 0%, rgb(51, 51, 51) 100%) repeat scroll 0% 0%;
  clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 100%, 0% 100%);
}

.footer-main {
  background-color: whitesmoke;
  position: relative;
  margin-bottom: 2rem;
  color: black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2rem;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  z-index: 2;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul li {
  font-weight: 800;
}

/* ****************** Desktop media queries ************************* */

@media screen and (min-width: 900px){

  main {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .background-img img {
    opacity: 0.10;
    position: absolute;
    margin-left: 10rem;
  }

  .dropdown-container {
    width: 40vw;
  }

  #search-button {
    /* width: 40%; */
    height: 2rem;
    border-radius: 2rem;
    padding-left: .25rem;
    padding-right: .25rem;
    background-color: rgba(80, 80, 80, 0.521);
    border-color: transparent;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
  }

  .search-input-bar {
    display: inline-block;
    background: rgba(80, 80, 80, 0.521) none repeat scroll 0% 0%;
    border: 1px solid transparent;
    color: rgb(134, 135, 137);
    height: 2rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    padding-left: 1rem;
  }

  input::placeholder {
    font-size: 1rem;
    color: white;
  }

  .trending-apps-list {
    display: flex;
    justify-content: flex-start;
  }

  .trending-apps-list li {
    flex: 0 0 0;
    padding-right: 2rem;
  }

  .trending-app-name {
    text-align: center;
  }

  .top-lists-apps-global-container {
    display: flex;
    justify-content: space-between;
  }

  .top-apps-section {
    padding: 1rem;
  }

  .top-apps-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .top-apps-list li {
    padding-right: 2rem;
  }

  /* list of apps on the right side */

  /* .list-apps-section-container {
    display: flex;
    justify-content: flex-end;
  }

  .list-apps-section {
    max-width: 90%;
  }

  .list-apps li:hover {
    background-color: rgba(110, 110, 110, 0.397);
    cursor: pointer;
  }

  .body-app-list {
    max-width: 100%;
  } */


}
  